.contextualMenu{
    &__ul{
        width: 100%;
        background: white;
        box-shadow: getGeneric(box-shadow);
        margin: 0;
        border-radius: getGeneric(border-radius);
        padding: 12px;
    }

    &__li{
        width: 100%;
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
        border-bottom: solid 1px getColor(backgroundAside);

        &.--red{
            color: getColor(primary);
        }

        &:first-child{
            border-radius: 4px 4px 0 0 ;
        }

        &:last-child{
            border: none;
            border-radius: 0 0 4px 4px;
        }

        &:hover{
            background: getColor(backgroundMain);
        }

        &:active{ 
            background: getColor(backgroundAside);
        }
    }
}