.copyBtn{
    background: getColor(white);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px getColor(backgroundAside);
    border-radius: 4px;
    cursor: pointer;

    &__tooltip{
        z-index: 10;
    }

    .icon{
        font-size: 16px;
    }

    &:hover{
        color: getColor(primary);
    }

    &:active{
        background: getColor(backgroundAside);
    }
}