.selectableList{
    &__list{
        font-size: getFontSize(asideText);

        &.active{
            background: getColor(primary);
            color: getColor(white);
        }
        &.--error{
            color: getColor(error);
        }
    }
}