@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap);@charset "UTF-8";
@-webkit-keyframes showDeviceInfo {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
@keyframes showDeviceInfo {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@-webkit-keyframes showAsideTooltip {
  from {
    transform: translateX(10px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes showAsideTooltip {
  from {
    transform: translateX(10px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes showModal {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes showModal {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.select, .autoComplete__input, .input__input, .textArea {
  font-size: 17px;
  font-weight: 400;
  color: #38E083;
  text-transform: inherit;
  text-align: left;
  font-family: 'Source Sans Pro';
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  font-family: 'Source Sans Pro';
  border: solid 1px #eceff1;
  padding: 8px 12px;
  outline: none;
  border-radius: 4px;
  font-size: 17px;
  margin-bottom: 15px;
  color: #25125E; }
  .select:focus, .autoComplete__input:focus, .input__input:focus, .textArea:focus {
    border: solid 1px #38E083; }
  .select:disabled, .autoComplete__input:disabled, .input__input:disabled, .textArea:disabled {
    color: #bbb; }
  @media only screen and (max-width: 720px) {
    .select, .autoComplete__input, .input__input, .textArea {
      padding: 15px 12px;
      font-size: 17px !important; } }

.button, .file__label, .iconButton {
  font-size: 12px;
  font-weight: 600;
  color: #38E083;
  text-transform: inherit;
  text-align: left;
  font-family: 'Source Sans Pro';
  width: auto;
  padding: 8px 20px;
  border-radius: 4px;
  background: #fff;
  color: #25125E;
  border: solid 1px #eceff1;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  filter: brightness(1); }
  .button:hover, .file__label:hover, .iconButton:hover {
    color: #38E083 !important;
    border: solid 1px #38E083 !important; }
  @media only screen and (max-width: 720px) {
    .button, .file__label, .iconButton {
      font-size: 13px;
      padding: 12px 15px;
      letter-spacing: .2px;
      flex: none; } }
  .button:disabled, .file__label:disabled, .iconButton:disabled {
    color: #bbb !important;
    background: #f4f5f6 !important;
    border: none !important;
    pointer-events: none;
    cursor: default !important; }
    .button:disabled:hover, .file__label:disabled:hover, .iconButton:disabled:hover {
      color: #bbb !important;
      background: #f4f5f6 !important;
      border: none !important; }
  .--delete.button, .--delete.file__label, .--delete.iconButton {
    background: #fff;
    color: #ff3737;
    border: solid 1px #ff3737; }
  .--primaryBorder.button, .--primaryBorder.file__label, .--primaryBorder.iconButton {
    background: #fff;
    color: #38E083;
    border: solid 1px #38E083; }
  .--primary.button, .--primary.file__label, .--primary.iconButton {
    background: #38E083;
    color: #fff;
    border: solid 1px #38E083; }
    .--primary.button:hover, .--primary.file__label:hover, .--primary.iconButton:hover {
      color: #fff !important; }

.checkbox__label, .input__label, .multipleCheckbox__label, .radioButton__label, .select__label, .textArea__label {
  font-size: 13px !important;
  margin-bottom: 5px;
  display: block;
  letter-spacing: .3px; }

.button:hover, .file__label:hover, .iconButton:hover {
  filter: brightness(1.02); }

.button:active, .file__label:active, .iconButton:active {
  filter: brightness(0.98); }

.select {
  font-size: 17px;
  font-weight: 400;
  color: #25125E;
  text-transform: inherit;
  text-align: left;
  font-family: 'Source Sans Pro';
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 40px 8px 12px;
  background: url("../img/arrow.svg") no-repeat;
  background-position: calc(100% - 10px);
  width: 100%; }
  .--multiple.select {
    background: #fff;
    padding: 8px 12px; }
    .--multiple.select:focus {
      height: 100%; }
  @media only screen and (max-width: 720px) {
    .select {
      padding: 15px 12px;
      font-size: 17px !important; } }

.calcInsuline__aside, .calcInsuline__main, .user__content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
  overflow: auto;
  min-width: 400px; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

::-moz-placeholder {
  color: #bbb; }

:-ms-input-placeholder {
  color: #bbb; }

::placeholder {
  color: #bbb; }

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  color: #25125E;
  cursor: default !important;
  background: #f8f9fb; }

p {
  margin: 0; }

a {
  color: #25125E;
  cursor: pointer;
  text-decoration: none; }

h1 {
  font-size: 30px;
  margin: 0 0 10px; }

h2 {
  font-size: 25px;
  margin: 0 0 20px; }

h3 {
  font-size: 17px;
  margin: 0 0 12px; }

h4 {
  font-size: 23px;
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0; }

li  {
  list-style: none; }

code {
  background: #f8f9fb;
  border: solid 1px #f4f5f6;
  padding: 15px;
  font-size: 15px;
  display: block;
  border-radius: 4px;
  margin-bottom: 5px;
  position: relative; }

.autoComplete {
  position: relative; }
  .autoComplete__input:focus + ul {
    display: block; }
  .autoComplete__ul {
    display: none;
    position: absolute;
    top: 21px;
    max-height: 200px;
    overflow: auto;
    background: #fff;
    box-shadow: 0 1px 4px rgba(33, 34, 64, 0.16);
    padding: 0;
    width: 100%;
    z-index: 1;
    border-radius: 0 0 4px 4px; }
  .autoComplete__li {
    padding: 10px;
    font-size: 14px; }
    .autoComplete__li:hover, .autoComplete__li.--active {
      background: #eceff1; }
  .autoComplete__spinner {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .autoComplete__spinnerIcon {
    color: #38E083; }

.button .spinner {
  transform: scale(0.7);
  transform: scale(0.7);
  width: 0;
  left: 18px;
  padding: 0 18px 0 5px;
  background: transparent; }
  .button .spinner.--whiteSpinner .loader {
    border-left: solid 2px #fff; }

.button.--disabled {
  pointer-events: none;
  filter: brightness(1.5);
  padding-left: 40px; }

.checkbox {
  display: flex; }
  .checkbox__input {
    display: none; }
    .checkbox__input:checked + .checkbox__inputLabel .checkbox__icon {
      background-color: #38E083;
      border: solid 1px #38E083; }
  .checkbox > span {
    margin-bottom: 10px;
    display: inline-block; }
  @media only screen and (max-width: 720px) {
    .checkbox > span {
      margin-bottom: 12px; } }
  .checkbox__label {
    margin-bottom: 10px; }
  .checkbox__inputLabel {
    cursor: pointer;
    display: inline; }
    .checkbox__inputLabel:hover .multipleCheckbox__icon {
      background-color: #eceff1; }
  .checkbox__icon {
    border: solid 1px #eceff1;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: 2px;
    border-radius: 4px; }
    @media only screen and (max-width: 720px) {
      .checkbox__icon {
        width: 20px;
        height: 20px;
        top: 3px; } }
  .checkbox__text {
    display: inline;
    font-size: 14px;
    margin: 0 10px 5px 2px; }
    @media only screen and (max-width: 720px) {
      .checkbox__text {
        font-size: 17px !important;
        margin: 0 20px 5px 2px; } }

.file__input {
  display: none; }

.iconButton {
  border: solid 1px #eceff1; }
  .iconButton__icon {
    margin-right: 4px; }
  .iconButton__text {
    margin: 0; }

.iconButton {
  border: solid 1px #eceff1; }
  .iconButton__icon {
    margin-right: 4px; }
  .iconButton__text {
    margin: 0; }

.multipleCheckbox {
  margin-bottom: 20px; }
  .multipleCheckbox.--disabled {
    pointer-events: none; }
    .multipleCheckbox.--disabled .multipleCheckbox__label {
      color: #bbb; }
    .multipleCheckbox.--disabled .multipleCheckbox__text {
      color: #bbb; }
    .multipleCheckbox.--disabled .multipleCheckbox__icon {
      background: #eceff1; }
  .multipleCheckbox > span {
    margin-bottom: 10px;
    display: inline-block; }
  @media only screen and (max-width: 720px) {
    .multipleCheckbox > span {
      margin-bottom: 12px; } }
  .multipleCheckbox__label {
    margin-bottom: 10px; }
  .multipleCheckbox__input {
    display: none; }
    .multipleCheckbox__input:checked + .multipleCheckbox__inputLabel .multipleCheckbox__icon {
      background-color: #38E083;
      border: solid 1px #38E083; }
  .multipleCheckbox__inputLabel {
    cursor: pointer;
    display: flex;
    align-items: center; }
    .multipleCheckbox__inputLabel:hover .multipleCheckbox__icon {
      background-color: #eceff1; }
    .multipleCheckbox__inputLabel.--checked .multipleCheckbox__icon {
      background-color: #38E083;
      border: solid 2px #38E083;
      color: #fff; }
  .multipleCheckbox__icon {
    border: solid 2px #eceff1;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600; }
    .multipleCheckbox__icon:before {
      top: 1px; }
  .multipleCheckbox__text {
    display: inline;
    font-size: 15px;
    margin: 0 20px 0 7px; }

.radioButton {
  margin-bottom: 20px; }
  .radioButton > span {
    display: inline-block; }
  .radioButton.--disabled {
    pointer-events: none; }
    .radioButton.--disabled .radioButton__label {
      color: #bbb; }
    .radioButton.--disabled .radioButton__text {
      color: #bbb; }
    .radioButton.--disabled .radioButton__icon {
      background: #eceff1 !important;
      border: solid 1px #eceff1 !important; }
  .radioButton__label {
    margin-bottom: 10px; }
  .radioButton__input {
    display: none; }
    .radioButton__input:checked + .radioButton__inputLabel .radioButton__icon {
      background: #38E083;
      border: solid 2px #38E083;
      color: #fff; }
  .radioButton__inputLabel {
    cursor: pointer;
    display: flex;
    align-items: center; }
    .radioButton__inputLabel:hover .radioButton__icon {
      background-color: #eceff1; }
  .radioButton__icon {
    border: solid 2px #eceff1;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600; }
    .radioButton__icon:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff; }
  .radioButton__text {
    display: inline;
    font-size: 15px;
    margin: 0 20px 0 7px; }

.snackBar {
  position: fixed;
  display: flex;
  bottom: 20px;
  left: 20px;
  z-index: 11;
  color: #25125E;
  font-size: 17px;
  padding: 10px 15px;
  background: #fff;
  align-items: center;
  border-radius: 10px;
  border: solid 1px grey;
  transform: translateY(calc(100% + 20px));
  z-index: 10000; }
  .snackBar.--active {
    opacity: 1;
    -webkit-animation-name: anime;
            animation-name: anime;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .snackBar.--success {
    border: solid 1px #32cc77; }
  .snackBar.--error {
    border: solid 1px #ff3737; }

@-webkit-keyframes anime {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

@keyframes anime {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 0;
  left: 0;
  background: #fff; }
  .spinner__text {
    margin-top: 20px;
    color: #bbb; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 30px;
  height: 30px; }

.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid rgba(56, 224, 131, 0.1);
  border-right: 2px solid rgba(56, 224, 131, 0.1);
  border-bottom: 2px solid rgba(56, 224, 131, 0.1);
  border-left: 2px solid #38E083;
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  margin-right: 10px; }

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.textArea {
  min-height: 100px;
  resize: vertical;
  line-height: 24px;
  width: 100%;
  font-family: 'Rubik';
  font-size: 16px;
  margin-bottom: 20px; }

.tooltip {
  position: absolute;
  font-size: 12px;
  padding: 2px 5px;
  background: #25125E;
  color: #fff;
  border-radius: 10px;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .tooltip:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    border-bottom: 5px solid #25125E;
    top: -5px;
    left: 15px; }

.calcInsuline {
  display: flex;
  max-width: 980px;
  justify-content: center; }
  .calcInsuline__aside {
    min-width: 250px !important;
    position: relative; }
    .calcInsuline__aside button {
      position: absolute;
      right: 30px;
      top: 30px; }
  .calcInsuline__main {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .calcInsuline__main h2 > span {
      color: #32cc77;
      font-size: 17px;
      margin-left: 10px;
      position: relative;
      top: -2px; }
  .calcInsuline__calc {
    background: #32cc77;
    color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: flex-end; }
    .calcInsuline__calc h1 {
      margin: 0; }

.user {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center; }
