* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

::placeholder {
    color: #bbb;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: getFontSize(text);
    color: getColor(black);
    cursor: default !important;
    background: getColor(white);
}

p {
    margin: 0;
}

a {
    color: getColor(black);
    cursor: pointer;
    text-decoration: none;
  
}

h1 {
    font-size: getFontSize(h1);
    margin: 0 0 10px;
}

h2 {
    font-size: getFontSize(h2);
    margin: 0;
}

h3 {
    font-size: getFontSize(h3);
    margin: 0 0 12px;
}

h4 {
    font-size: getFontSize(h4);
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style: none;
}

code{
    background: getColor(backgroundMain);
    border: solid 1px getColor(backgroundAside);
    padding: 15px;
    font-size: 15px;
    display: block;
    border-radius: 4px;
    margin-bottom: 5px;
    position: relative;
}