.navInfo{
    display: flex;
    position: fixed;
    width: calc(100% - 80px);
    right: 0;
    top: 70px;
    border-bottom: solid 1px getColor(border);

    &__ul{
        display: flex;
        margin: 0;
    }

    &__li{
        display: flex;
        padding: 10px 0;
        margin-right: 25px;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:active{
            color: getColor(darkGrey);
        }

        &:hover{
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
                height: 2px;
                background: getColor(backgroundMain);
            }
        }

        &:first-child{
            padding-left: 0;
        }
    }

    &__text{
        font-size: 17px;
        margin-left: 11px;
    }   
}

.--active-green{
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 2px;
        border-radius: 20px;
        background: getStatusColor(green) !important;
    }
}

.--active-yellow{
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 2px;
        border-radius: 20px;
        background: getStatusColor(yellow) !important;
    }
}

.--active-blue{
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 2px;
        border-radius: 20px;
        background: getStatusColor(blue) !important;
    }
}