.kms{
    position: fixed;
    width: calc(100% - 110px);
    height: calc(100% - 170px);
    bottom: 30px;
    right: 30px;
    border-radius: 10px;
    overflow: hidden;

    &__buttonCalendar {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10;
        display: flex;
        align-items: center;

        .iconButton__icon{
            margin-right: 10px;
        }
    }

    &__datePicker{
        position: absolute;
        z-index: 10;
        right: 10px;
        top: 54px;
    }

    &__chart{
        margin-top: 60px;
    }
}