.button{
    @extend %button;

    .spinner{
        transform: scale(0.7);
        transform: scale(0.7);
        width: 0;
        left: 18px;
        padding: 0 18px 0 5px;
        background: transparent;

        &.--whiteSpinner{
            .loader{
                border-left: solid 2px getColor(white);
            }
        }
    }

    &.--disabled{
        pointer-events: none;
        filter: brightness(1.5);
        padding-left: 40px;
    }
}