.geofencingName{
    &__input{
        max-width: 100% !important;
    }

    &__btns{
        display: flex;
       justify-content: flex-end;
       margin-top: 20px;

       .button{
           margin-left: 5px;
       }
    }
}