.cardDevice{
   width: 100%;
   border-radius: 10px;
   background: getColor(white);
   padding: 20px;
   display: flex;
   margin-bottom: 5px;
   position: relative;
   cursor: pointer;
   border:solid 1px getColor(border);
   flex-direction: column;

   &.--active{
        box-shadow: none !important;
        background: getColor(white) !important;
   }

    &:hover{
        z-index: 1;
        background: getColor(backgroundMain);
    }

    &:active{
        background: getColor(backgroundAside);
    }

    &__info{
        width: 150px
    }

    &__title{
        font-size: 18px;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__mac{
        color: getColor(grey);
        font-size: 14px;
    }

    &__batery{
        position: absolute;
        display: flex;
        right: 20px;
        top: 22px;
        align-items: center;
    }

    &__bateryIcon{
        font-size: 22px;
        margin: 2px 0 0 5px;
    }

    &__bateryText{
        color: getColor(grey);
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    &__bateryPercent{
        font-size: 10px;
        margin-left: 3px;
    }

    &__button{
        margin-top: 12px;
    }
}